# MOSDAC Credentials for automated data ingestion
MOSDAC_USERNAME=your_username_here
MOSDAC_PASSWORD=your_password_here

# Copernicus Climate Data Store (CDS) Credentials for ERA5 Data
# URL is usually: https://cds.climate.copernicus.eu/api/v2
CDSAPI_URL=your_copernicus_url_here
CDSAPI_KEY=your_copernicus_api_key_here
